<div class="col s12">
  <label>Materialize Select</label>
  <div class="select-wrapper"><input type="text" class="select-dropdown" readonly="true" data-activates="select-options-a16924b8-4378-d7aa-399b-5defc68b6b91" value="Choose your option"><i class="mdi-navigation-arrow-drop-down active"></i><select class="initialized">
    <option value="" disabled="" selected="">Choose your option</option>
    <option value="1">Option 1</option>
    <option value="2">Option 2</option>
    <option value="3">Option 3</option>
  </select></div>
</div>