<div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <input ng-model='searchFrom' placeholder="From">
    <input ng-model='searchTo' placeholder="To">
    <button type="button" class="btn btn-primary btn-sm" ng-click='search()'> Search </button>
</div>

<div class="jumbotron text-center">
<h3></h3>
  From <input type="text" ng-model="from" placeholder="From" > 
  To <input type="text" ng-model="to" placeholder="To">
  Is <select ng-model="is">
  <option value="free"> Free</option>
  <option value="slow"> Slow</option>
  <option value="congested">Congested</option>
  <option value="moving">Moving</option>
</select>
  <!-- <input type="text" ng-model="username" placeholder="Is">  -->
  Due to <input type="text" ng-model="Dueto" placeholder="Due to"> 
  <button ng-click='update()'> Update</button>
</div>

<div class="col-md-8">
<h1> From {{to}}</h2>
</div>
