/*   html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }*/

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.footer {
  flex: 1 0 auto;
}

.footer-text {
  text-align: center;
}

.name {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 20px;
  color: #337ab7;
  text-decoration: none;
}

a:hover {
  color: rgb(65, 64, 64);
  text-decoration: none;
}

input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=date],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  outline: none;
  height: 3rem;
  width: 50%;
  font-size: 1rem;
  margin: 0 0 15px 300px;
  /*top,right,bottom,left*/
  
  padding: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}

.signUp {
  margin-left: 450px;
}

.signIn {
  margin-left: 530px;
}

h3 {
  font-size: 18px;
  line-height: 3.212rem;
  margin: 1.46rem 0 1.168rem 0;
  text-align: center;
}

.searchRow {
  margin-left: 750px;
  margin-bottom: 20px;
  padding-top: 10px;
}

.searchButton {
  background-color: #DFDFDF;
  color: #9F9F9F;
}

.searchInput {
  .input-field label {
    color: #9e9e9e;
    position: absolute;
    top: 0.8rem;
    right: 10rem;
    font-size: 1rem;
    cursor: text;
    -webkit-transition: 0.2s ease-out;
    -moz-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    width: 50px;
  }
}

.optionValue {
  background-color: #F96363;
  padding: 5px;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  height: 3rem;
  width: 50%;
  margin-left: 300px;
  font-size: 15px;
}

nav {
  background-color: #388E3C;
}

.red {
  background-color: #388E3C !important;
  margin-left: -140px;
}

.update {
  margin-left: -200px;
  margin-top: -350px;
  width: 500px;
}

.classposition {
  margin: 0.5rem 0 1rem 0
}

.updateForm {
  margin-left: -950px;
  ` margin-right: 200px;
  margin-bottom: 20px;
  width: 500px;
}

.hi {
  float: right !important;
}

.but {
  float: right;
}

.hey {
  margin-left: 500px;
}

footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #388E3C;
}

.input {
  input[type=text], input[type=password], input[type=email], input[type=url], input[type=date], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    outline: none;
    height: 3rem;
    width: 50%;
    font-size: 1rem;
    margin: 0 0 15px 1200px;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -ms-transition: 0.3s;
    transition: 0.3s;
  }
}

img {
  border: 0;
  margin-left: 180px;
  margin-top: -10px;
}

.placeholder {
  color: red;
  text-align: center;
}

header {
  position: fixed;
  width: 100%;
  z-index: 4;
}

.content {
  margin-top: 70px;
}

div.editForm {
  position: absolute;
  z-index: 20;
  top: 150px;
  left: 16%;
  width: 800px;
  border: 1px solid rgba(0,0,0,0.5);
  background: white;
}

div.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0,0.4);
  z-index: 5;
}