.name {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 30px;
  line-height: 20px;
  color: #337ab7;
  text-decoration: none;
}
a:hover {
  color: rgb(65, 64, 64);
  text-decoration: none;
}